Library/**
Build/**
Temp/**

Assets/SimpleTownLite/**
Assets/SimpleTownLite.meta
Assets/PolygonVikings/**
Assets/PolygonVikings.meta
Assets/MoveMotionPack/**
Assets/MoveMotionPack.meta
Assets/Idle MoCap/**
Assets/Idle MoCap.meta

*.csproj
*.sln
.vs/**
