Library/**
Build/**
Temp/**

Assets/SimpleTownLite/**
Assets/SimpleTownLite.meta
Assets/PolygonVikings/**
Assets/PolygonVikings.meta
Assets/MoveMotionPack/**
Assets/MoveMotionPack.meta
Assets/Idle MoCap/**
Assets/Idle MoCap.meta
Assets/SimpleFX/**
Assets/SimpleFX.meta
Assets/SimpleForestAnimal/**
Assets/SimpleForestAnimal.meta

*.csproj
*.sln
.vs/**
